.main-nav {
  padding-left: 20px !important;
  min-height: 70px;
}

.nav-logo-text {
  color: #00285f;
}

.nav-logo-text:hover {
  color: #00285f;
}

.main-menu {
  display: flex;
  width: 550px;
  font-size: 18px;
  justify-content:space-evenly;
  
}

.main-menu a {

  font-style: normal;
  color: #00285f;

}

.main-menu a.active {
  font-weight: 700;
  color: #00285f;
}

.main-menu a:hover {
  color: #00285f;
}

@media (min-width: 1280px) {
  .main-nav {
    padding-left: 150px !important;
  }
}



